/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-post .btn-group {
  opacity: 0;
  transition: all 0.3s;
}

.blog-post:hover .btn-group {
  opacity: 1;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  text-align: center;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
}
.blog-post-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  font-size: 14px;
  margin-bottom: 20px;
  color: #999;
}

.error {
  color: red;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

#login-panel {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  width: 64%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  background-image: url("/img/bg.jpg");
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  transition: all 0.9s;
  -webkit-filter: grayscale(0.9);
  -moz-filter: grayscale(0.9);
  -ms-filter: grayscale(0.9);
  -o-filter: grayscale(0.9);
  filter: grayscale(0.9);
}

.jumbotron:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}



/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
  }
  .blog-post .btn-group {
    opacity: 1;
  }
  #login-panel {
    width: 100%;
  }
}
